.wysiwyg {
	p:not([class]) {
		@apply .p;
	}

	a:not([class]) {
		@mixin a;
	}

	h2:not([class]) {
		@apply .h2;
	}

	h3:not([class]) {
		@apply .h3;
	}

	ul:not([class]) {
		@apply .ul;
	}

	li:not([class]) {
		@apply .li;
	}

	blockquote:not([class]) {
		@mixin quote;
	}

	hr:not([class]) {
		@apply .hr;
	}
}
