.wysiwyg {
	p:not([class]) {
		@apply .p;
	}

	a:not([class]) {
		@mixin a;
	}

	h2:not([class]) {
		@apply .h2;
	}

	h3:not([class]) {
		@apply .h3;
	}

	h4:not([class]) {
		@apply .h4;
	}

	ul:not([class]) {
		@apply .ul;
	}

	li:not([class]) {
		@apply .li;
	}

	blockquote:not([class]) {
		@mixin quote;
	}

	hr:not([class]) {
		@apply .hr;
	}

	mark:not([class]) {
		@apply .mark;
	}

	code:not([class]) {
		@apply .code-highlight .code-highlight--inline;

		a:not([class]) {
			@apply .border-0 .pb-0;
			@apply .text-black;
			@apply .underline;

			&:visited {
				@apply .text-black;
			}
		}
	}

	ul ul:not([class]) {
		@apply .m-0;

		list-style-type: circle;
	}

	ul ul ul:not([class]) {
		@apply .m-0;

		list-style-type: square;
	}

	ul ul ul ul:not([class]) {
		@apply .m-0;

		list-style-type: circle;
	}

	ul ul ul ul ul:not([class]) {
		@apply .m-0;

		list-style-type: square;
	}
}
