.hover\:dim {
	opacity: 1;
	transition: opacity 0.15s ease-in;
}

.hover\:dim:hover,
.hover\:dim:focus {
	opacity: 0.5;
	transition: opacity 0.15s ease-in;
}

.hover\:dim:active {
	opacity: 0.8;
	transition: opacity 0.15s ease-out;
}
