.hover\:grow {
	@apply .transition;

	transform: translateZ(0);

	&:hover,
	&:focus {
		transform: scale(1.1);
	}

	&:active {
		transform: scale(0.9);
	}
}

.hover\:grow-sm {
	@apply .transition;

	transform: translateZ(0);

	&:hover,
	&:focus {
		transform: scale(1.05);
	}

	&:active {
		transform: scale(0.9);
	}
}
